{% extends 'base.html' %} 
{% block content %}
<div class="card">
    <p><a href="{% url 'main:show_main' %}"><button>Cancel</button></a></p>

    <h1>Add Product</h1>
    
    <form method="POST">
        {% csrf_token %}
        <table>
            <div class="info-block">
                <p>{{ form.as_table }}</p>
            </div>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Add Product" />
                </td>
            </tr>
        </table>
    </form>
</div>

{% endblock %}