{% extends 'base.html' %}
{% block content %}

<div class="card">
  <h1>Amaranth Sportcenter</h1>

  <div class="info-block">
    <h5>Name:</h5>
    <p>{{ name }}</p>
  </div>

  <div class="info-block">
    <h5>Class:</h5>
    <p>{{ class }}</p>
  </div>

  <a href="{% url 'main:create_product' %}">
    <button>+ Add Product</button>
  </a>

  <hr>

  {% if not product_list %}
    <div class="product-block">
      <p>Belum ada produk yang dijual.</p>
    </div>
  {% else %}
    {% for product in product_list %}
      <div class="info-block" style="text-align:left;">
        <h2>
          <a href="{% url 'main:show_product' product.id %}">{{ product.title }}</a>
        </h2>

        <p> {{ product.name }}</p>

        {% if product.thumbnail %}
          <img src="{{ product.thumbnail }}" alt="thumbnail" width="150" height="100">

        <p>
          <b>{{ product.get_category_display }}</b>
          {% if product.is_featured %} | <b>Featured</b>{% endif %}
          {% if product.is_best_seller %} | <b>Best Seller</b>{% endif %}
          | Price: <i> {{ product.price }} </i>
          | Sold: {{ product.purchase_count }}
        </p>
        
        {% endif %}

        <p>{{ product.description|truncatewords:25 }}...</p>

        <p>
          <a href="{% url 'main:show_product' product.id %}">
            <button>Read More</button>
          </a>
        </p>
      </div>
      <hr>
    {% endfor %}
  {% endif %}
</div>

{% endblock content %}
